@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

:root {
    --primary-color: #9E9E9E;
    --dark-primary-color: #616161;
    --light-primary-color: #F5F5F5;
    --light-accent-color: #FADA61;
    --dark-accent-color: #F29C3C;
    --dark-primary-text: #212121;
    --light-primary-text: #757575;
    --divider-color: #BDBDBD;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--light-primary-color);
    color: var(--dark-primary-text);
}

nav {
    background: var(--dark-primary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--light-accent-color);
}

section {
    border-bottom: 1px solid var(--divider-color);
    padding-top: 25px;
    padding-bottom: 100px;
}

footer {
    background: var(--primary-color);
}

.hero h1 {
    font-size: 36px;
}


.logo img {
    width: 50px;
}

.main-section {
    text-align: center;
    padding: 10%;
}

.products {
    background-image: url("../img/curve.png");
    max-height: 1px;
    background-size: cover;
    background-position: center top;
    display: flex; 
    padding: 15%;
    justify-content: center;
}

.product {
    padding: 10px;
    margin-top: -400px;
}

.product .content {
    background: white;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.product .content h1 {
    font-size: 24px;
}

.img-container {
    text-align: center;
}

.button-container {
    text-align: center;
}

.product-button {
    font-size: 24px;
    font-weight: 700;
    padding: 12px 24px;
    background: var(--light-accent-color);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}

.product-button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.product-button:active {
    transform: translateY(3px);
    background: var(--dark-accent-color);
}

#info {
    text-align: center;
}

.section-title {
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-card {
    max-width: 300px;
    /* background: white; */
    border-radius: 5px;
    text-align: center;
}

#staff h2 {
    text-align: center;
}

.staff-card {
    max-width: 300px;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.staff-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.staff-details {
    padding: 20px;
    margin-top: -30px;
}

footer {
    padding-top: 25px;
}

footer h2 {
    text-align: center;
    margin: 0;
    color: white;
}

footer p a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

.social-container {
    display: flex;
    justify-content: center;
}


